@import "tailwindcss";

.three-line {
	text-overflow: ellipsis;
	white-space: normal;
	overflow-wrap: anywhere;
	word-break: break-word;
}
:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	/* --color-background: var(--background);
  --color-foreground: var(--foreground); */
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--background: var(--background);
	--foreground: var(--foreground);
	--color-elements: #1e1e1e;
	--color-primary-text: #e0e0e0;
	--color-primary-text-muted: #c8c8c8;
	--color-secondary-text: #888888;
	--color-accent-white: #ffffff;
	--color-accent-gray: #b0b0b0;
	--color-accent-blue: #8fb2c9;
	--color-border: #333333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--color-accent-blue);
	border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
	background: #7a9bb5;
}
